.product-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 7px;
}

.product-flex-container p {
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.product-flex-container .details p span {
  font-weight: 700;
  font-size: 18px;
}

.product-card {
  flex: 1 1 120px;
  width: 120px;
  max-width: 160px;
  height: 150px;
  position: relative;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  display: flex;
  align-items: flex-start;
  color: white;
  cursor: pointer;
}
/*
.details {
  height: 100%;
  color: white;
  background-color: rgba(58, 62, 70, 0.68);
  width: 100%;
} */

.details {
  height: 100%;
  color: white;
  background-color: rgba(58, 62, 70, 0.68);
  width: 100%;
  display: flex;
  align-items: flex-end; /* This will align content to bottom */
}

.archived {
  opacity: 0.7;
}

.archived-badge {
  background-color: #dc3545;
  color: white;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 0.8em;
  position: absolute;
  top: 5px;
  right: 5px;
}

.form-label {
  margin-top: 16px;
  margin-bottom: 4px !important;
}

.modal-body {
  padding-top: 0px !important;
}
